@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

/* css rsest */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.08);
}

/* navabr making */
#navbar {
    background-color: black;
    height: 74px;
    background: rgba(0, 0, 0, 0.5);
}

/* align items center */
#unlist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 342px;
}

/* remove bullets */
#unlist li {
    list-style: none;
    padding: 25px 13px;

}

/* set transition on anchor tag */
#unlist li a {
    text-decoration: none;
    font-size: 17px;
    color: white;
    font-family: 'Baloo Chettan 2', cursive;
    padding-left: -9px;
    transition: all 0.5s;
}

/* apply psuedo selector */
#navbar::before {
    content: "";
    background: url('../about-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 500px;
    z-index: -1;
}

/* hover property */
#unlist li a:hover {
    color: red;
    transform: scale(1.1);
}

/* search position set */
#search {
    position: absolute;
    top: 3px;
    right: -11px;
    padding-right: 19px;
}

/* search text */
#text {
    margin: 25px 1px;
    padding: 4px;
    border-radius: 4px;
    border: none;
}

/* search button */
.btn {
    cursor: pointer;
    padding: 3px 9px;
    border-radius: 4px;
    border: none;
    font-family: 'Baloo Chettan 2', cursive;
    font-family: 'Cinzel', serif;
    background-color: rgba(207, 0, 0, 0.603);
    color: white;
    transition: background-color 0.3s;
}

/* hover set */
.btn:hover {
    background-color: rgba(143, 3, 3, 0.616);
}

/* logo setting */
#logo {
    position: absolute;
    top: -6px;
    left: 27px;
    padding: 16px 5px;
}

/* set logo image */
#logo img {
    filter: invert(1);
    height: 53px;
    width: 54px
}

/* home text stting */
#big-text {
    font-size: 50px;
    position: absolute;
    top: 245px;
    left: 569px;
    font-family: 'Baloo Chettan 2', cursive;
    color: white;
}

/* set opacity using pseudo selector */
#body-sec::before {
    content: "";
    background: rgba(0, 0, 0, 0.500);
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 100%;
    background-blend-mode: darken;
    z-index: -1;
}

/* menu text setting */
#menu-sec {
    position: absolute;
    top: 696px;
    left: 431px;
    height: 1686px;
}

/* setting shadow on menu text */
#menu-sec #asmr {
    font-size: 50px;
    font-family: 'Baloo Chettan 2', cursive;
    position: relative;
    top: -114px;
    left: 67px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 4px 3px rgba(19, 19, 19, 0.808);
}

/* set food menu-1 */
#menu-one {
    display: flex;
    position: absolute;
    top: -192px;
}

#img-section {
    display: flex;
    position: absolute;
    top: 29px;
    left: -320px;
    background-color: black;
    border-radius: 60px;
}


#img-section img {
    height: 400px;
    width: 500px;
    border: 1px solid black;
    border-radius: -10px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 200ms;
    border: none;
    position: relative;
    top: 0px;
}

#img-section img:hover {
    color: #000 !important;
    box-shadow: 1px 4px 10px rgba(3, 3, 3, 1);
}

#menu-text-section {
    position: relative;
    top: 18px;
    left: 273px;
    font-size: 18px;
    font-family: 'Baloo Chettan 2', cursive;
    color: rgba(0, 0, 0, 0.753);

}

#menu-text-section h1 {
    line-height: 100px;
    font-size: 40px;
    font-family: 'Baloo Chettan 2', cursive;
    color: rgba(255, 0, 0, 0.780);
}


.menu-text-pos {
    position: absolute;
    top: 1327px;
    left: 169px;
    font-size: 18px;
    font-family: 'Baloo Chettan 2', cursive;
    color: rgba(0, 0, 0, 0.753);
}

#maintain-text h1 {
    line-height: 100px;
    font-size: 40px;
    font-family: 'Baloo Chettan 2', cursive;
    color: rgba(255, 0, 0, 0.780);
}

.image-section-2 img {
    height: 400px;
    width: 500px;
    border: 1px solid black;
    border-radius: -10px;
    border: none;
    position: absolute;
    top: 1273px;
    left: 726px;
    transition: all 200ms ease-out;
}

.image-section-2 img:hover {
    color: #000 !important;
    background-color: #fff!important;
    box-shadow: 1px 2px 10px rgba(3, 3, 3, 1);
}

/* set second food menu-2 */
#align-verticle {
    position: relative;
    top: -200px;
}

#img-section-3 img {
    height: 400px;
    width: 500px;
    border: 1px solid black;
    border-radius: -10px;
    position: absolute;
    top: 1599px;
    border: none;
    left: 116px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-out;
}


#img-section-3 img:hover {
    color: #000 !important;
    box-shadow: 1px 4px 10px rgba(3, 3, 3, 1);
}

/* set third food menu-3 */
#menu-text-section-2 {
    position: relative;
    top: 1574px;
    left: 750px;
    font-size: 18px;
    font-family: 'Baloo Chettan 2', cursive;
    color: rgba(0, 0, 0, 0.753);


}

#menu-text-section-2 h1 {
    line-height: 100px;
    font-size: 40px;
    font-family: 'Baloo Chettan 2', cursive;
    color: rgba(255, 0, 0, 0.780);
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
    cursor: pointer;
}

.zoom:hover {
    transform: scale(1.01);
}

.text-highlight a {
    transition-property: color;
    transition-duration: .2s;
    text-decoration: none;
    color: rgba(255, 0, 0, 0.780);
    margin: 0 auto;
    cursor: pointer;
}

.text-highlight a:hover {
    color: red;
}

#txt-animation {
    height: 130px;
    width: 65%;
    background-color: black;
    opacity: 0.9;
    position: absolute;
    top: 80.2%;
}

/* set footer */
#container-final{
    height: 400px;
    width: 100vw;
    background-color: rgb(51, 50, 50);
    position: relative;
    top: 1848px;
}

#foot-text{
    height: 100px;
    width: 100%;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#social-logo{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    
}

/* set social logos */
#social-logo img{
    height: 40px;
    width: 40px;
    margin: 0px 7px;
    border-radius: 46px;
    box-shadow: 1px 4px 3px rgb(24, 24, 24);
    transition: transform 0.2s;
}
#social-logo img:hover{
   transform: scale(1.2);
}

/* set login form */
#form{
    height: 250px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form #form-inner h3{
    color: white;
    position: relative;
    top: -19px;
    border-bottom: 2px solid red;
    width: 67px;
    font-size: 28px;

}

.input-main input{
    
    margin: 3px -3px;
    padding: 10px 35px;
    border-radius: 6px;
    border: none;
}

#btn-foot button{
    margin: 4px 0px;
    padding: 8px 32px;
    font-size: 14px;
    border-radius: 6px;
    border: none;
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.780);
    color: white;
    transition: all 0.5s cubic-bezier(1, 0, 0, 1) 2s;
    
}


#btn-foot button:hover{
    
    background-color: rgb(158, 9, 9);
    cursor: pointer;

}

#form #form-inner #address{
    height: 200px;
    width: 288px;
    position: absolute;
    top: 169px;
    right: 102px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

/* set contact info logos */
#form #form-inner #address #foot-logo-1{
    height: 30px;
    width: 30px;
    filter: invert(1);
   
}

#form #form-inner #address #foot-logo-2{
    height: 30px;
    width: 30px;
    filter: invert(1);
   
}

#form #form-inner #address #foot-logo-3{
    height: 30px;
    width: 30px;
    filter: invert(1);
   
}

#address-info{
    color: white;
}

#address-info :nth-child(1){
    position: absolute;
    top: 200px;
    right: 168px;

}

#address-info :nth-child(2){
    position: absolute;
    top: 258px;
    right: 110px;
}

#address-info :nth-child(3){
    position: absolute;
    top: 313px;
    right: 138px;

}

#form #products{
    color: white;
    height: 196px;
    width: 100px;
    position: absolute;
    top: 181px;
    left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Baloo Chettan 2', cursive;
}

#form #about{
    color: white;
    height: 196px;
    width: 100px;
    position: absolute;
    top: 179px;
    left: 212px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Baloo Chettan 2', cursive;
    

}
#form #support{
    color: white;
    height: 172px;
    width: 100px;
    position: absolute;
    top: 179px;
    left: 363px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Baloo Chettan 2', cursive;
    

}

#form #products h3,#form #about h3,#form #support h3{
    border-bottom: 2px solid red;
    width: 79px;
}

#form #products h4,#form #about h4,#form #support h4{
    font-family: 'Baloo Chettan 2', cursive;
}

footer{
    color: black;
    position: relative;
    top: 1854px;
    left: 495px;
}

